.wrapper {
    max-width: 600px;
    padding: 0 20px;
    width: 100vw;
    

    .parent-tab {
        margin-bottom: 8px;
        border-radius: 3px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
        max-width: 100vh;
        transition: all 0.4s ease;


        .tab {
            background-color: #007bff;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            border-radius: 3px;
            position: relative;

             .wrapper__title {
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                text-shadow: 1px -2.5px 1px #0056b3;
             }


             .icon {
                position: relative;
                height: 30px;
                width: 30px;
                color: #007bff;
                font-size: 15px;
                display: block;
                background-color: #fff;
                border-radius: 50%;
                cursor: pointer;

             }

             i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
             }
        }

        .content__descr {
            max-width: 100vh;
            padding: 15px;
            animation: slide-down ease 1s;



        @keyframes slide-down {
            0% {
                transform: translateY((-10px));
            }

            100% {
                transform: translateY(0);
            }
            
        }
            .content__descr {
                font-size: 16px;
                padding: 15px 20px;
            }
        }


    }
}

